body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.note {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#game-screen {
    text-align: left;
    margin-top: 20px;
}

#output {
    white-space: pre-wrap;
    min-height: 300px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#input {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-family: monospace;
    font-size: 16px;
}

.system-message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.player-input {
    color: rgb(209, 209, 209);
    font-weight: normal;
    font-size: 16px;
    
}
